{% extends 'base.html' %}

{% block title %}
    {% if title %}
        {{ title }} - BlueChip
    {% else %}
    <title> Welcome to Blue Chip </title>
    {% endif %}
{% endblock %}

{% block app_context %}
    <div class="row">
        <div class="col-md-12">
            <h1>Hello, {{ current_user.username }} !</h1>
            <p>{{ body }}</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <h2>List of Pitches</h2>
        <div class="col-md-4">
            <div class="card">
                {% for pitch in allpitch %}
                <div class="card-body">
                    <h5 class="card-title">User</h5>
                    <p class="card-text"> {{ pitch }} </p>
                    <a href="#" class="btn btn-primary">Comment</a>
                    </div>
                </div>
              {% endfor %}
        </div>
    </div>
{% endblock %}