{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_context %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Hello, {{ current_user.username }} !</h1>
            <p>{{ body }}</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">List of Pitches</h2>
            <div class="card">
                {% for pitch in all_pitches %}
                    {% include '_pitches.html' %}
                {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <!-- empty -->
        </div>
        <div class="col-md-6">
            <h4 class="text-center">Create Pitch</h4>
            {{ wtf.quick_form(form) }}
        </div>
        <div class="col-md-2">
            <!-- empty -->
        </div>
    </div>


{% endblock %}